/*#0069C0, 137FD9 , #2196F3, #5E6266, #929292 , #EFEFEF y #00000.*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-color:#2196F3; */
}

header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;    
    background-color: rgb(19, 127, 217, .5);
    border-radius: 0px 0px 30px 30px;

}

.logo{
    max-height: 150px;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.7);
}

.list{
    display: flex;
    list-style-type: none;
    gap: 20px; /*Realiza un espacio entre opción*/
}

.list a{
    text-decoration: none;
    color: #EFEFEF;
    font-size: 15px;   
    padding: 20px;
    border-radius: 20px;
}

.list a:hover{
    background-color: #0069C0;
    color: #EFEFEF;
    cursor: pointer;
}

.container {
    margin-top: 150px;
    margin-bottom: 200px;
}

.subcontainer{
    width: 750px;
    padding: 30px;
    border-radius: 0px 30px 30px 0px;
    background-color: rgb(0, 105, 192, .5);
}

.container h1{
    Font-family: Lucida Sans;
    font-size: 150px;
    color: #EFEFEF;
}

.container p{
    Font-family: Lucida Sans;
    font-size: 20px;
    color: #EFEFEF;
}

.container2 {
    margin-top: 200px;
    margin-bottom: 113px;
}

.subcontainer2{
    width: 900px;
    padding: 30px;
    border-radius: 0px 30px 30px 0px;
    background-color: rgb(94, 98, 102, .9);
}

.container2 h1{
    Font-family: Lucida Sans;
    color: #EFEFEF;
    font-size: 40px;
}

.container2 p{
    Font-family: Lucida Sans;
    color: #EFEFEF;
    font-size: 15px;
}

.container2 li{
    Font-family: Lucida Sans;
    color: #EFEFEF;   
    font-size: 15px;
}

.ListPF{
    list-style-type: none; 
    font-size: 15px; 
}

footer{
    background-color: rgb(0, 105, 192, .3);;
    text-align: center;
}